<div class="container-fluid">
  <p class="h2">Minhas Vagas</p>
  
  <% @jobs.each do |job| %>
    <div class="card">
      <div class="card-body">
        <label class="h4"><%= job.title %></label>
        <%= link_to 'Editar', edit_job_path(job) %>
        <p class="h6">Candidatos Inscritos</p>
          <%= render job.subscriptions %>
      </div>
    </div>
  <% end %>
    
    
</div>