<div class="container-fluid">
  <p class="h2">Minhas Vagas</p>
  <% @jobs.each do |job| %>
    <%= job.title %>
    <%= link_to 'Editar', edit_job_path(job) %>
    <p class="h4">Candidatos Inscritos</p>
    <%= render job.subscriptions %>
  <% end %>
    
</div>